/* Общее */

body {
  font-family: "Roboto", sans-serif;
  color: #757575;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

/* Логотип */

.navigation-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #000000;
}

.accent {
  color: #2196f3;
}

/* Навигация */

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #212121;
}

.navigation-item:hover,
.navigation-item:focus {
  color: #2196f3;
}

/* Контакты */

.header-contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: #757575;
}

.header-contacts:hover,
.header-contacts:focus {
  color: #2196f3;
}

/* Герой */

.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;

  background-color: #2196f3;

  cursor: pointer;
}

/* Преимущества */

.advantage {
  background-color: #ffffff;
}

.advantage-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}

.advantage-description {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}

/* Чем мы занимаемся */

.job {
  background-color: #ffffff;
}

.job-title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

/* Наша команда */

.our-team {
  background-color: #f5f4fa;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.members-item {
  background-color: #ffffff;
}

.members-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #212121;
}

.members-description {
  font-size: 16px;
  line-height: 1.187;
  letter-spacing: 0.03em;
  color: #757575;
}

/* Футер */

.footer {
  background-color: #2f303a;
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-item:nth-child(1) .address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.address-item:not(:first-child) .address-link {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

/* ПОРТФОЛИО */

.portfolio-button {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;

  background-color: #f5f4fa;

  cursor: pointer;
}

.portfolio-button:hover,
.portfolio-button:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.subject-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
}

.subject-description {
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
  color: #757575;
}
